.sliderSlick div {
  width: 100%;
  & img {
    width: 100vw;

  }
}

@media only screen and (max-width: 768px) {
  .sliderSlickDesktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .sliderSlickMobile {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .sliderMobile {
    padding-top: 250px;
  }
}

.header {
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  position: absolute;
  top:0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 35px;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 65vw;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    height: calc(65vw + 250px);
  }
}

.HeaderTopRow {
  // padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 576px) {
  .HeaderTopRow {
    justify-content: initial;
    flex-direction: column-reverse;
  }
}


.TopSocialMediaNav {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;

  & li {
    padding: 0 10px;
    & a {
      color: $first-color;
      &:hover {
        color: black;
      }
    }
  }
}



.arrow {
  text-align: center;
  margin: 1% 0;
  & a {
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.sliderMovieBtn {
  background-color: $second-color;
  position: absolute;
  bottom: 30px;
}

.slick-dots {
  max-width: 1140px;
  text-align: right;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0)
}

.slick-dots li button:before {
  font-size: 12px;
  line-height: 60px;
}
