$first-color: #706567; //grey-napisy

$second-color: #4b4a4d; // button bg color
$third-color: #eb7404; //orange


$forth-color: #020a31; // background color marine blue



$fifth-color: #2456d6; //price blue color
