.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.button {
  text-transform: uppercase;
  padding: 15px;
  color: white;
  display: inline-block;
  font-size: 12px;
  &:hover {
    -webkit-box-shadow: 10px 10px 30px 0px rgba(97,93,97,0.7);
    -moz-box-shadow: 10px 10px 30px 0px rgba(97,93,97,0.7);
    box-shadow: 10px 10px 30px 0px rgba(97,93,97,0.7);
    opacity: 0.8;
  }
}

.title {
  text-transform: uppercase;
  font-weight: 900;
}

.d-flex {
  display: flex;
}

.alignRight {
  float: right;
}

.content {
  line-height: 24px;
  font-weight: 300;
  padding: 30px 0;
}
